* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
        font-family: var(--font-regular);
        font-size: 14px;  
        line-height: 1.5;
        color: var(--c-black);
}
a {
    color: var(--c-violet);
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}
