/* nav-bar */
.navbar-container {
	background-color: var(--c-black);
}
.mobile-searchBox{
	display: none;
	align-items:center;
	justify-content:space-around;
	gap: 22px;
	padding: 10px 20px;
}
.mobile-searchBox .search-input{
	border: 1px solid var(--c-black);
	border-radius: var(--br-5);
	padding: 25px;
}

.search-close{
	width: 30px;
	height: 30px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 19px 103px;
}

.navbar-logo-wrapper {
	display: flex;
	align-items: center;
}

.navbar-logo-wrapper>svg {
	display: block;
	width: 126px;
	height: 2rem;
	opacity: 100%;
	transition: opacity 300ms;
}

.navbar-logo-wrapper>svg:hover {
	opacity: 80%;
	transition: opacity 300ms;
}

.navbar-logo-wrapper>a {
	color: var(--c-white);
	border-left: 2px solid var(--c-white);
	padding-left: 12.8px;
	margin: 4px 0 0 12.8px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.5px;
}
/* mobile-navbar */
.mobile-nav{
	position: absolute;
	display: none;
	background-color:var(--c-black);
	border-top : 1px solid var(--c-white);
	user-select: none;
}
.mobile-nav .nav-btns-list{
	display: flex;
	flex-direction: column;
	align-items:center;
}
.nav-btns-list a{
	color:var(--c-white);
	font-size:24px;
	padding: 1rem 1.5rem;
	text-decoration: none;
}
.nav-btns-list a:active {
	color: hsla(0, 0%, 100%, 0.8);
}
.nav-btns-list :nth-child(1){
	border-bottom:1px solid var(--c-white) ;
}

/* search section */
.search-container {
	display: flex;
	justify-content: center;

	padding-top: 80px;
	padding-bottom: 115px;
	background-color: var(--c-violet-100);
}

.search-title {
	font-family: var(--font-regular);
	letter-spacing: -4px;
	margin-bottom: 16px;
	text-align: center;

}

.search-box {
	display: flex;
	align-items: center;
	flex-shrink: 1;
	width: 720px;
	padding: 16px;
	background-color: var(--c-white);
	border: 1px solid var(--c-black);
	border-radius: var(--br-5);
	box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
	transition: border 300ms;

}

.search-input {
	width: var(--w-full);
	height: 32px;
	font-size: 20px;
}

/* main-category section */
.category-container { 
	margin: 130px 0px;
}

.category-list-items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	margin: 0 11.5em;
}

.category-item {
	display: flex;
	width: 50%;
}

.category-item-icon {
	display: block;
	margin-top: 48px;
	margin-right: 30px;
}

.category-item-details {
	margin: 45px 40px auto 0px;
}

.category-item-details>h3 {
	font-family: var(--font-bold);
}

.category-item-details>p {
	margin-top: 16px;
	margin-bottom: 20px;
	font-family: var(--font-light);
}

/* Footer section */
.footer-container {
	background-color: var(--c-black);
	color: var(--c-white);
	padding: 0 105px 60px 105px;
}

.footer-list-columns {
	display: flex;
	gap: 5px;
	align-items: flex-start;
	min-height: 340px;

}

.footer-column {
	display: flex;
	width: 20%;
	flex-direction: column;
}

.footer-column>h3 {
	margin-top: 48px;
	margin-bottom: 16px;
	font-family: var(--font-bold);
}

.footer-column>a {
	color: var(--c-white);
	font-size: 16px;
	line-height: 1.5;
}

.footer-column-copyright {
	padding-top: 10px;
	align-self: flex-end;
}

.footer-column-copyright>svg {
	margin-bottom: 20px;
}

.footer-column-copyright>p {
	font-size: 20px;
	width: max-content;
}